* {
    
    font-family: 'Oxygen', 'sans-serif';
    /* color:#616971; */
}

body, html, #map
{
  height: 88%;
}

.header h1{
    font-weight: 800; color: aliceblue;
}

.margin-neg-3 {
    margin-top: -3rem !important;
}


